extends base

prepend content
    p before content

append content
    p after content


// just 'block' will replace the block of any parent
block content
    
    h1  what's here?
        h2= url
        h2= site.categories.count()
        h2= site.posts.count()
        h2= site.pages.count()
    h1  anything?
    ul.post-list
        - site.posts.each(function(post){
        li
            h2 post: 
                div.meta
                    a(href=config.root + post.path)= post.title
        - })
    ul.category-list
        - site.categories.each(function(category){
        li
            h2 category: 
                div.meta
                    a(href=config.root + category.path)= category.name
        - })

