mixin game_header(game)
    .game_meta
        p Status
            span= game.status
            | Role
            span= game.role
            | Date
            span= game.date.format(config.date_format)
    .gallery
        - if (game.pictures != null) {
            - game.pictures.forEach(function (picture) {
                .img_container
                    - var imgPath = "/" + game.path + picture.id + ".png";
                    a.fancybox(rel='group', href=imgPath, title=picture.title)
                        img(src=imgPath, alt=picture.title)
            - })
        - }
    .tagline
        h4= game.tagline

